<%- include('layout/header') %>
<main class="about-main">
  <div class="about-para">
    <h1 class="about-header"><%= pageTitle %></h1>
    <h3>DiDi: En Framtid med Hållbarhet och Välmående i Fokus</h3>
    <br />
    <p>
      DiDi är ett klädföretag som verkligen sticker ut i modeindustrin. Med en
      stark inriktning på miljöansvar och hållbarhet, har DiDi tagit ställning
      för att inte bara skapa stilfulla kläder utan också göra det på ett sätt
      som gynnar både planeten och dess människor. Genom att använda främst
      bomull och linne i sina kollektioner, säkerställer DiDi att deras
      produkter är naturliga och skonsamma mot miljön.
    </p>
    <br />
    <p>
      Men DiDi engagemang sträcker sig långt bortom materialval. Företaget
      lägger stor vikt vid sina anställdas välbefinnande och arbetsmiljö. DiDi
      förstår att en hälsosam och inspirerande arbetsplats är nyckeln till att
      skapa kläder av högsta kvalitet. Därför investerar de kontinuerligt i att
      förbättra arbetsvillkoren och se till att deras medarbetare trivs och
      utvecklas.
    </p>
    <br />

    <p>
      Kollektionerna från DiDi är designade för att passa alla – från barn till
      damer och herrar. Varje plagg är noggrant utformat med både komfort och
      stil i åtanke, vilket gör att kunderna kan känna sig lika bra som de ser
      ut.
    </p>
    <br />

    <p>
      DiDi är inte bara ett klädmärke; det är ett åtagande för en bättre
      framtid. Med sina hållbara materialval och sitt starka fokus på
      medarbetarnas välmående, visar DiDi att det är möjligt att vara både
      moderiktiga och miljömedvetna. Välj DiDi för att klä dig med gott samvete
      och bidra till en hållbar framtid.
    </p>
  </div>

  <div class="about-img">
    <img src="/images/clothes.jpg" alt="Dam kläder" />
  </div>
</main>
<%- include('layout/header') %> <%- include('layout/footer') %>
