<%-include("layout/header") %>
<main class="contact-page">
  <h1>Conatct page</h1>
  <br />
  <form action="">
    <label for="name">Fullname:</label><br />
    <input
      type="text"
      name="name"
      id="name"
      placeholder="Write your fullname"
    />
    <br />
    <label for="E-mail">E-mail adress:</label><br />
    <input type="email" name="email" id="email" placeholder="E-mail adress" />
    <br />
    <label for="phone">Phone-Number:</label><br />
    <input type="tel" name="phone" id="phone" placeholder="Phone-number" />
    <br />
    <label for="message">Message:</label><br />
    <textarea
      name="message"
      id="message"
      rows="6"
      cols="78"
      placeholder="Whats in your mind..."
    ></textarea>
  </form>
</main>
<%-include("layout/header") %> <%-include("layout/footer") %>
